/.box_dump
/vendor
/.vagrant
.phpunit.result.cache
/docs/.vitepress/cache
/docs/.vitepress/dist
/docs/node_modules
/.cache
.phpunit.cache
.phpunit.result.cache
/build
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/.idea
/.fleet
/.vscode
docs/bun.lockb
